<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Заказ</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/main" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h2 th:text="${'Заказ №'+order.id}"></h2>
            </td>
        </tr>
        <tr th:each="item : ${order.items}">
            <td>
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/items/'+item.getId()}">
                                <img width="300" height="300" th:src="${item.getImgPath()}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.getTitle()}"></b>
                        </td>
                        <td>
                            <b th:text="${item.getCount()}+' шт.'"></b>
                        </td>
                        <td>
                            <b th:text="${item.getPrice()*item.getCount()}+' руб.'"></b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3 th:text="${'Сумма: '+order.totalSum}+' руб.'"></h3>
            </td>
        </tr>
    </table>
</div>
</body>

</html>