<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="@{'/cart/items/' + ${item.getId()} + '/minus'}" method="post">
                            <button type="submit">-</button>
                        </form>

                        <span th:text="${item.getCount()}"></span>

                        <form th:action="@{'/cart/items/' + ${item.getId()} + '/plus'}" method="post">
                            <button type="submit">+</button>
                        </form>

                        <form th:action="@{'/cart/items/' + ${item.getId()} + '/delete'}" method="post">
                            <button type="submit" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${hasItems}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>