<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/main" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${item.getImgPath()}">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="@{'/items/' + ${item.getId()} + '/minus'}" method="post">
            <button type="submit">-</button>
        </form>

        <span th:text="${item.getCount()}"></span>

        <form th:action="@{'/items/' + ${item.getId()} + '/plus'}" method="post">
            <button type="submit">+</button>
        </form>

        <form th:action="@{'/items/' + ${item.getId()} + '/delete'}" method="post">
            <button type="submit" style="float:right;">Удалить из корзины</button>
        </form>

        <form th:action="@{'/items/' + ${item.getId()} + '/add'}" method="post" th:if="${item.getCount() != 0}">
            <button type="submit" style="float:right;">В корзину</button>
        </form>
    </div>
</body>

</html>