<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/new" style="float:right;">
        <b>Добавить товар вручную &cudarrr;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort=='NO'}">нет</option>
                            <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.size == 5}">5</option>
                            <option value="10" th:selected="${paging.size == 10}">10</option>
                            <option value="20" th:selected="${paging.size == 20}">20</option>
                            <option value="50" th:selected="${paging.size == 50}">50</option>
                            <option value="100" th:selected="${paging.size == 100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${paging.hasPrevious()}" name="pageNumber" th:value="${paging.number - 1}">&lt;</button>
                        <span th:text="${'Страница: '+paging.number}"></span>
                        <button th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.number + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/items/'+item.getId()}">
                                <img width="300" height="300" th:src="${item.getImgPath()}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.getTitle()}"></b>
                        </td>
                        <td>
                            <b th:text="${item.getPrice()}+' руб.'"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.getDescription()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{'/main/items/' + ${item.getId()} + '/minus'}" method="post">
                                <button type="submit">-</button>
                            </form>

                            <span th:text="${item.getCount()}"></span>

                            <form th:action="@{'/main/items/' + ${item.getId()} + '/plus'}" method="post">
                                <button type="submit">+</button>
                            </form>

                            <form th:action="@{'/main/items/' + ${item.getId()} + '/deleteFromCart'}" method="post" style="float:right;">
                                <button type="submit">Удалить из корзины</button>
                            </form>

                            <form th:action="@{'/main/items/' + ${item.getId()} + '/addToCart'}" method="post" th:if="${item.getCount()!=0}" style="float:right;">
                                <button type="submit">В корзину</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>